apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service-deployment
  namespace: medisupply
  labels:
    app: order-service
    service: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
        service: order-service
    spec:
      containers:
      - name: order-service
        image: us-central1-docker.pkg.dev/PROJECT_ID/medisupply/order-service:latest
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: order-service-secret
        - configMapRef:
            name: order-service-config
        resources:
          requests:
            memory: "1Gi"
            cpu: "1000m"
          limits:
            memory: "2Gi"
            cpu: "2000m"
        livenessProbe:
          httpGet:
            path: /order-healthz
            port: 8000
          initialDelaySeconds: 120
          periodSeconds: 30
          timeoutSeconds: 10
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /order-healthz
            port: 8000
          initialDelaySeconds: 90
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 10
        startupProbe:
          httpGet:
            path: /order-healthz
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 30

