fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings
psycopg2-binary
python-dotenv
requests
email-validator
pydantic[email]
python-multipart

# Testing
pytest
pytest-asyncio
pytest-mock
pytest-cov
httpx
