apiVersion: apps/v1
kind: Deployment
metadata:
  name: supplier-service-deployment
  namespace: medisupply
  labels:
    app: supplier-service
    service: supplier-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supplier-service
  template:
    metadata:
      labels:
        app: supplier-service
        service: supplier-service
    spec:
      containers:
      - name: supplier-service
        image: us-central1-docker.pkg.dev/PROJECT_ID/medisupply/supplier-service:latest
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: supplier-service-secret
        - configMapRef:
            name: supplier-service-config
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 90
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 90
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
