apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
  namespace: medisupply
  labels:
    app: user-service
    service: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
        service: user-service
    spec:
      containers:
      - name: user-service
        image: us-central1-docker.pkg.dev/PROJECT_ID/medisupply/user-service:latest
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: user-service-secret
        - configMapRef:
            name: user-service-config
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 3
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
